/*Стль контейнера для списка ингредиентов*/
.ingredientsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Стиль для списка*/
.list {
    composes: pl-4 pr-4 mt-4 mb-4 custom-scroll from global;
    list-style-type: none;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

/*Стиль верхней булки*/
.topBun {
    composes: ml-4 mr-4 pl-8 mt-25 from global;
}

/*Стиль нижней булки*/
.bottomBun {
    composes: ml-4 mr-4 pl-8 mb-10 from global;
}

.topBun .bottomBun {
    width: 100%;
}

.placeholder {
    composes: text text_type_main-default text_color_inactive from global;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px #8585ad dashed;
    height: 100%;
    width: 100%;
    min-height: 80px;
}

.placeholderHover {
    composes: placeholder;
}

.placeholderIngredient {
    composes:  ml-8 from global;
    composes: placeholder;
    height: 98%;
    width: auto;
}

.placeholderIngredientHover {
    composes: placeholderIngredient;
}

.placeholderHover, .placeholderIngredientHover {
    border-color: #f2f2f3;
    color: #f2f2f3;
}

/*Стиль для конкретного элекмента списка*/
.list > li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

li.list:not(:last-child) {
}

/*Отступы между элементами списка*/
.list > li:not(:last-child) {
   /* mb-4*/
   margin-bottom: 16px;
}

/*Настройка иконки dnd*/
.list > li > svg {
    flex-shrink: 0;
    /*ml-8*/
    width: 32px;
}