.container {
    display: flex;
    gap: 60px;
    height: 86%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    gap: 24px;
}

.link {
    composes: text text_type_main-medium from global;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.inactiveLink {
    composes: text text_type_main-medium text_color_inactive from global;
    cursor: pointer;
    text-decoration: none;

}
