/*Стиль всего приложения*/
.app {
    display: flex;
    flex-direction: column;
    background: #131316;
}

/*Контейнер основного контента - содержимого страницы*/
.mainContainer {
    composes: ml-4 mr-4 from global;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Ставим контейнерам высоту 100%, чтобы потом убрать глобальный скролл*/
.app, .mainContainer {
    height: 100%;
}

/*Стиль котейнера с панелями страницы*/
.constrictorContainer {
    display: flex;
    height: 80%;
    gap: 40px;
    justify-content: center;
}

/*Настройки flex для панелей*/
.constrictorContainer > article {
    flex: 0 0 0;
}