/*Стиль всего приложения*/
.app {
    display: flex;
    flex-direction: column;
    background: #131316;
}

/*Контейнер основного контента - содержимого страницы*/
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Ставим контейнерам высоту 100%, чтобы потом убрать глобальный скролл*/
.app, .mainContainer {
    height: 100%;
}

/*Стиль контейнера с панелями страницы*/
.constrictorContainer {
    display: flex;
    height: 86%;
    gap: 40px;
    justify-content: center;
    max-width: 1280px;
    padding-top: 96px;
}

/*Настройки flex для панелей*/
.constrictorContainer > article {
    flex: 1 0 0;
}

/*Индикатор загрузки. Взят из примера https://codepen.io/sdelaney/pen/wWdxPZ/*/
.spinner{
    width:40px;
    height:40px;
    border:4px solid white;
    border-top:4px solid gray;
    border-radius:50%;
    position: fixed;
    left: 50%;
    top: 50%;

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}