.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 86%;
    justify-content: center;
    text-align: left;
    align-items: center;
    max-height: 718px;
    padding-top: 96px;
    width: 720px;
}