.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}