.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details {
    composes: mb-5 from global;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*m-5*/
    gap: 20px;
}