/*Стиль всей панели навигации*/
.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1310px;
}

.header {
    background: #1c1c21;
}

/*Стиль кнопки на панели*/
.navbar > button {
    display: flex;
    flex-wrap: nowrap;
    /*p-20*/
    padding: 20px;
}

/*Стиль текста кнопки*/
.label {
    composes: ml-2 text text_type_main-default from global;
}

/*Стиль текста кнопки для несуществующих страниц*/
.label_inactive {
    composes: ml-2 text text_type_main-default text_color_inactive from global;
}

/*Стиль логотипа*/
.navbar > svg {
    text-align: center;
    flex-grow: 1;
}

.login {
    align-self: flex-end;
}