.header {
    composes: pt-4 pb-4 from global;
    width: 100%;
    background: #1c1c21;
    position: fixed;
    display: block;
}

/*Стиль всей панели навигации*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    align-items: flex-start;
}

/*Стиль ссылки на панели*/
.link {
    composes: p-5 text text_type_main-default from global;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.login {
    composes: link;
    margin-left: auto;
    align-self: flex-end;
}

/*Стиль логотипа*/
.header > svg {
    margin: 0 auto;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
}

/*Стиль текста кнопки*/
.label {
    composes: ml-2 text text_type_main-default from global;
}

/*Стиль текста кнопки для неактивных страниц*/
.label_inactive {
    composes: ml-2 text text_type_main-default text_color_inactive from global;
}